* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background: #333;
}
.heading {
  text-align: center;
  padding: 1rem;
}

.content {
  padding: 1rem;
  border-radius: 4px;
}

.content-form {
  display: flex;

}

.content-form input {
  flex-grow: 1;
  padding: 0.3rem;
  color: #333;
}

.content-form button {
  padding: 0.2rem 0.4rem;
  color: #333;
  text-transform: uppercase;
}

.todos-wrapper {
  margin-top: 1rem;
}

.todos-wrapper ul {
  list-style: none;
}

.todos-wrapper ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.todos-wrapper ul li button {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}